<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Miuna Shoutbox Server 9.3 ACP</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h2><span class="fa fa-lock"></span> Miuna Shoutbox Server 9.3 ACP</h2>

		<a href="/settings" class="btn btn-default"><span class="fa fa-user"></span> Server Configuration</a>
	</div>

</div>
</body>
</html>
