<!-- views/settings.ejs -->
<!doctype html>
<html>
<head>
	<title>Miuna Shoutbox Server 9.3 ACP</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body		{ padding-top:80px; }
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Settings</h1>

	<!-- LOGIN FORM -->
	<form id="settings" action="/settings" method="post">
		<div class="form-group">
			<label>Secret</label>
			<input type="text" class="form-control" name="secret" id="secret" title="20 characters minimum" pattern=".{20,}" required>
		</div>
		<div class="form-group">
			<label>Character limit in shout (Recommended 700 or less)</label>
			<input type="number" class="form-control" name="chrlimit" id="chrlimit" value="700" required>
		</div>
		<div class="form-group">
			<label>Your forum link</label>
			<input type="text" class="form-control" name="origin" id="origin" required>
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Save</button>
		<script type="text/javascript">
			$('#settings').submit(function()
			{
				if ($.trim($("#secret").val()) === "" || $.trim($("#chrlimit").val()) === "" || $.trim($("#origin").val()) === "") {
					alert('Error: All fields are required.');
					return false;
				}
			});
			document.getElementById('secret').value = <%- token %>; 
		</script>
	</form>

	<hr>

	<p>Return to <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>
