<!-- views/sucess.ejs -->
<!doctype html>
<html>
<head>
	<title>Miuna Shoutbox 3.0 Server ACP</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="text-center">
		<h1>Miuna Shoutbox 3.0 Server Successfully Configured!</h1>
	</div>

</div>
</body>
</html>
