<!-- views/sucess.ejs -->
<!doctype html>
<html>
<head>
	<title>Miuna Shoutbox Server 9.3 ACP</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body		{ padding-top:80px; word-wrap:break-word; }
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h2>Miuna Shoutbox Server 9.3 Successfully Configured!</h2>

		<div>Miuna Shoutbox Server Link: <span id='link'></span></div>
		<div>Miuna Shoutbox Socket.io address: <span id='ioadd'></span><div>
		
		<h2>Do not forget to restart the application once again.</h2>
		<script type="text/javascript">
			link = 'https://'+window.location.hostname+'';
			socket = 'wss://'+window.location.hostname+'';
			$('#link').append(link);
			$('#ioadd').append(socket);
		</script>
	</div>
	
	<p>Return to <a href="https://manage.openshift.com/">Openshift</a>.</p>

</div>
</body>
</html>
